<h1>Edit <%= @contact.first_name %> <%= @contact.last_name %></h1>

<form action="/contacts/<%= @contact.id %>" method="post">
	<p>
		<input type="hidden" name="_method" value="put">
	</p>
	<p>
		<label for="first_name">First name:</label> <input type="text" id="first_name" name="first_name" value="<%= @contact.first_name %>">
	</p>
	<p>
		<label for="last_name">Last name:</label> <input type="text" id="last_name" name="last_name" value="<%= @contact.last_name %>">
	</p>
	<p>
		<label for="email">Email:</label> <input type="text" id="email" name="email" value="<%= @contact.email %>">
	</p>
	<p>
		<label for="note">Notes:</label> <input type="text" id="note" name="note" value="<%= @contact.note %>">
	</p>
	<p>
		<input class="btn btn-default btn-sm" type="submit" name="Submit">
	</p>
</form>