<h1><%= @contact.first_name %> <%= @contact.last_name %> </h1>
<div class="row">
	<div class="col-xs-6">
		<p><h3>Email:</h3> <%= @contact.email %></p>
	</div>
	<div class="col-xs-6">
		<p><h3>Note:</h3></p>
		<p><%= @contact.note %></p>
	</div>
</div>


<p class="edit-button">
	<a class="btn btn-default btn-sm" href="/contacts/<%= @contact.id %>/edit">Edit</a>
</p>

<div class="delete-button">
	<form action="/contacts/<%= @contact.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input class="btn btn-default btn-sm" type="submit" name="Delete Contact" value="Delete Contact">
	</form>
</div>